# Gradle
.gradle
/local.properties
build/
.kotlin

# IntelliJ / Android Studio
*.iml
.idea/
!.idea/runConfigurations/
!.idea/assetWizardSettings.xml
!.idea/iconloader.xml

# macOS
.DS_Store

# Android
/release
/captures
.externalNativeBuild
/app/release/

# iOS / CocoaPods
*.podspec
iosApp/**/Pods/
iosApp/**/Podfile.lock
iosApp/**/*.xcworkspace
iosApp/**/*.xcuserstate
iosApp/**/*.xcuserdatad

# Project Specific
/buildSrc/build/
